.terms-of-service {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: white;
    }
    
    .terms-of-service h1 {
    color: #2c3e50;
    font-size: 2em;
    margin-bottom: 20px;
    }
    .terms-of-service h2 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    }
    .terms-of-service p {
    color: #2c3e50;
    margin-bottom: 10px;
    }
    .terms-of-service a {
    color: #4caf50;
    text-decoration: none;
    }
    .terms-of-service a:hover {
    text-decoration: underline;
    }
    .terms {
    background-color: #ecf0f1;
    
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    max-width: 1000px;
    }
    .terms:hover {
    background-color: #f7f7f7;
    transform: scale(1);
    transition: transform 0.3s linear, background-color 0.3s linear;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
    .terms:last-of-type {
    margin-bottom: 140px; /* Add extra space before the footer */
    }